body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.container {
    width: 70%;
    height: 60vh;
    background-color: #222;
    border-radius: 10px;
    display: flex;
    color: #fff;
    justify-content: center;
    font-family: sans-serif;
}

.png img {
    height: 100px;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 1rem;
    border: solid;
}

.png {
    position: absolute;
    left: 15rem;
    top: 7rem;
    margin-top: 10px;
    display: grid;
    background-color: #708160;
    width: 33vh;
    align-items: center;
    border-radius: 50% 0 ;
    border-style: dotted;
}

.png h1 {
    font-size: 1rem;
    margin-left: 2rem;
}

.con {
    border-style: dotted;
    display: flex;
    height: 40vh;
    position: relative;
    left: 10rem;
    width: 50%;
    gap: 5rem;
    justify-content: center;
}

.png:hover {
    background-color: blueviolet;
}